.passager-detail{
    background: white;
    border-top: 1px solid #e14213;
    border-radius: 5px;
    margin-bottom:20px;
}

.btc-dark-blue{
    border-top-color: #050862 !important;
}

.pt-10px{
    padding-top: 10px;
}

.fs-15px{
    font-size: 15px;
}