<div class="form-wrapper bg-white">
    <div class="form-header">
        <p class="text-dark text-center font-weight-bold padding-10">
            Book a Ticket
        </p>
        <div class="icon icon-primary">
            <i class="fa fa-ticket"></i>
        </div>
    </div>
    <div class="form-content bg-white padding-20">
        <div class="row">
            <!-- <div class="col-sm-12">
                                <div class="trip-type-wrapper">
                                    <div class="trip-type">
                                        <div class="trip one-way noselect active">One Way</div>
                                        <div class="trip round-trip noselect">Round Trip</div>
                                    </div>
                                </div>
                            </div> -->
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="travellingFrom">Travelling from:</label>
                    <select class="form-control" id="travellingFrom">
                        <option placeholder>Departure Terminal</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="travellingTo">Travelling To:</label>
                    <select class="form-control" id="travellingTo">
                        <option placeholder>Select Destination</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="datepicker-container">
                    <div class="form-group">
                        <label for="dateDeparture">Departure Date:</label>
                        <input class="form-control datetimepicker" id="dateDeparture" placeholder="2018-12-14" name="dp"
                            [(ngModel)]="departure" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="adult">Passager:</label>
                    <select class="form-control" id="adult">
                        <option placeholder>Passager</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary btn-round btn-block text-uppercase" (click)="onSubmit()">
                    Book Now </button>
            </div>
        </div>
    </div>
</div>