@import '../../../../assets/sass/now-ui-kit/variables';

.form-wrapper{
    // border: 1px solid #f96332;
    margin-top: -17.1vh;
    // min-height: 300px;
    border-radius: 5px;
    // overflow: hidden;
    padding-top: 20px;
    box-shadow: 0 20px 50px 0 $warning-color-alert;
}

.bg-orange{
    background: $warning-color;
}

.icon {
    font-size: 30px;
    line-height: 2.7;
    max-width: 80px;
    text-align: center;
    color: #888;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 9px 35px -6px rgba(0,0,0,.3);
    background-color: #fff;
    position: relative;
    // padding-top: 5px;
}

.icon-primary {
    box-shadow: 0 9px 30px -6px $warning-color;
    color: $warning-color;
}

.pmarginless{
    margin: 0px !important;
}

.padding-10{
    padding: 10px;
}

.padding-20{
    padding: 20px;
}

.form-content{
    height: 85%;
}

.trip-type-wrapper{
    text-align: center;
    .trip-type{
        background: #ffffff;
        color: $warning-color;
        border: 1px solid $warning-color;
        display: inline-block;
        margin: 10px;
        div {
            display:inherit;
            padding: 10px;
            cursor: pointer;

        }
        div.active{
            background: $warning-color;
            color: #ffffff;
        }
    }
}

@media (max-width: 767px) {
    .fd-column-reverse {
        flex-direction: column-reverse;
    }
}
