<div class="wrapper mt-50px">
    <div class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="text-center">You can verify the status of your booking</h4>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 col-sm-12">
                    <div class="passager-detail">
                        <div class="row">
                            <div class="col">
                                <h4 class="marginless text-center pt-10px">VERIFY BOOKING</h4>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col plr-30px">
                                <div class="form-group">
                                    <label for="">REFERENCE NUMBER</label>
                                    <input type="text" class="form-control" placeholder="REFERENCE NUMBER">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button class="btn btn-primary">VERIFY</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col plr-30px">
                                <label for="">Fullname</label>
                                <p></p>
                            </div>
                            <div class="col plr-30px">
                                <label for="">Email</label>
                                <p></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col plr-30px">
                                <label for="">Phone Number</label>
                                <p></p>
                            </div>
                            <div class="col plr-30px">
                                <label for="">Gender</label>
                                <p></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col plr-30px">
                                <label for="">Next of Kin's Name</label>
                                <p></p>
                            </div>
                            <div class="col plr-30px">
                                <label for="">Next of Kin's Phone</label>
                                <p></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col plr-30px">
                                <label for="">Traveling Route</label>
                                <p></p>
                            </div>
                            <div class="col plr-30px">
                                <label for="">Traveling Date and Time</label>
                                <p></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col plr-30px">
                                <label for="">Selected Seat</label>
                                <p></p>
                            </div>
                            <div class="col plr-30px">
                                <label for="">Amount Paid</label>
                                <p></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>