<div class="wrapper mt-50px">
    <div class="bg-white">
        <div class="row page-top">
            <div class="container">
                <p class="display-4">BOOKING VERIFICATION</p>
                <h6>You can verify the status of your booking</h6>
            </div>
        </div>
        <div class="container full-section">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-wrapper bg-white">
                        <div class="form-header">
                            <p class="text-dark text-center font-weight-bold padding-10">
                                VERIFY BOOKING
                            </p>
                            <div class="icon icon-primary">
                                <i class="fa fa-ticket"></i>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="passager-detail">
                            <div class="row">
                                <div class="col plr-30px">
                                    <div class="form-group">
                                        <label for="">REFERENCE NUMBER</label>
                                        <input type="text" class="form-control" placeholder="REFERENCE NUMBER">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <button class="btn btn-warning btn-lg btn-round">VERIFY</button>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col plr-30px">
                                    <label class="font-weight-bold text-secondary" for="">Fullname</label>
                                    <p></p>
                                </div>
                                <div class="col plr-30px">
                                    <label class="font-weight-bold text-secondary" for="">Email</label>
                                    <p></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col plr-30px">
                                    <label class="font-weight-bold text-secondary" for="">Phone Number</label>
                                    <p></p>
                                </div>
                                <div class="col plr-30px">
                                    <label class="font-weight-bold text-secondary" for="">Gender</label>
                                    <p></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col plr-30px">
                                    <label class="font-weight-bold text-secondary" for="">Next of Kin's Name</label>
                                    <p></p>
                                </div>
                                <div class="col plr-30px">
                                    <label class="font-weight-bold text-secondary" for="">Next of Kin's Phone</label>
                                    <p></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col plr-30px">
                                    <label class="font-weight-bold text-secondary" for="">Traveling Route</label>
                                    <p></p>
                                </div>
                                <div class="col plr-30px">
                                    <label class="font-weight-bold text-secondary" for="">Traveling Date and Time</label>
                                    <p></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col plr-30px">
                                    <label class="font-weight-bold text-secondary" for="">Selected Seat</label>
                                    <p></p>
                                </div>
                                <div class="col plr-30px">
                                    <label class="font-weight-bold text-secondary" for="">Amount Paid</label>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>