<div class="seat-number-wrapper">
    <div class="seat-number no-select" (click)="getSeatNumber($event)" data-seat="1">
        1
    </div>
    <div class="seat-number no-select" (click)="getSeatNumber($event)" data-seat="2">
        2
    </div>
    <div class="seat-number no-select" (click)="getSeatNumber($event)" data-seat="3">
        3
    </div>
    <div class="seat-number no-select" (click)="getSeatNumber($event)" data-seat="4">
        4
    </div>
    <div class="seat-number no-select" (click)="getSeatNumber($event)" data-seat="5">
        5
    </div>
    <div class="seat-number no-select" (click)="getSeatNumber($event)" data-seat="6">
        6
    </div>
    <div class="seat-number no-select" (click)="getSeatNumber($event)" data-seat="7">
        7
    </div>
    <div class="seat-number no-select" (click)="getSeatNumber($event)" data-seat="8">
        8
    </div>
    <div class="seat-number no-select" (click)="getSeatNumber($event)" data-seat="9">
        9
    </div>
    <div class="seat-number no-select" (click)="getSeatNumber($event)" data-seat="10">
        10
    </div>
    <div class="seat-number no-select" (click)="getSeatNumber($event)" data-seat="11">
        11
    </div>
    <div class="seat-number no-select" (click)="getSeatNumber($event)" data-seat="12">
        12
    </div>
    <div class="seat-number no-select" (click)="getSeatNumber($event)" data-seat="13">
        13
    </div>
    <div class="seat-number no-select" (click)="getSeatNumber($event)" data-seat="14">
        14
    </div>
</div>