<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange" [ngStyle]="{height: '100px', backgroundColor: primaryColor}">
    </div>
    <div class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="text-center">We just need a few more details. Who is travelling?</h4>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="passager-detail">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Passager Details</h4>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="firstname">First Name</label>
                                    <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="lastname">Last Name</label>
                                    <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <select class="form-control" id="gender">
                                        <option placeholder>Gender</option>
                                        <option>Male</option>
                                        <option>Femail</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="passager-detail">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Contact details</h4>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="email">Email Address</label>
                                    <input type="text" class="form-control" name="email" id="email" placeholder="Email Address">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="phone">Phone Number</label>
                                    <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone Number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="next-name">Next of Kin's Name</label>
                                    <input type="text" class="form-control" name="next-name" id="next-name" placeholder="Next of Kin's Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="next-phone">Next of Kin's Phone Number</label>
                                    <input type="text" class="form-control" name="next-phone" id="next-phone"
                                        placeholder="Next of Kin's Phone Number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-primary">Make Payment</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="passager-detail marginless">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Trip Summary</h4>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="fw-bold fs-12rem">Imo (Owerri) => Lagos (Jibowu)</p>
                                <p>December 13, 2018 by 6:15 AM</p>
                                <p>BENZ Seat [13]</p>
                                <p class="bb-black">1 x Adult(s) <span class="f-right price-tag text-underline">₦
                                        5,250.00</span></p>
                                <p class="bb-black">Adult Discount <span class="f-right price-tag text-underline">₦
                                        0.00</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="total-payment">
                                <h5>Payment <span class="f-right">₦ 5,250.00</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>