<div class="wrapper mt-50px">
    <div class="bg-light">
        <div class="row page-top">
            <div class="container">
                <p class="display-4">Passenger Details</p>
                <h6>We just need a few more details. Who is travelling?</h6>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="passager-detail">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Passager Details</h4>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="firstname">First Name</label>
                                    <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name"
                                        (input)="updateValue($event)">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="lastname">Last Name</label>
                                    <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name"
                                        (input)="updateValue($event)">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <select class="form-control" id="gender">
                                        <option placeholder>Gender</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="passager-detail">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Contact details</h4>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="email">Email Address</label>
                                    <input type="text" class="form-control" name="email" id="email" placeholder="Email Address"
                                        (input)="updateValue($event)">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="phone">Phone Number</label>
                                    <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone Number"
                                        (input)="updateValue($event)">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="nextName">Next of Kin's Name</label>
                                    <input type="text" class="form-control" name="nextName" id="nextName" placeholder="Next of Kin's Name"
                                        (input)="updateValue($event)">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="nextPhone">Next of Kin's Phone Number</label>
                                    <input type="text" class="form-control" name="nextPhone" id="nextPhone" placeholder="Next of Kin's Phone Number"
                                        (input)="updateValue($event)">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-primary" (click)="getBooking()">Make Payment</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="passager-detail marginless">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Trip Summary</h4>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="fw-bold fs-12rem">Imo (Owerri) => Lagos (Jibowu)</p>
                                <p>December 13, 2018 by 6:15 AM</p>
                                <p>BENZ Seat [13]</p>
                                <p class="bb-black">1 x Adult(s) <span class="f-right price-tag text-underline">₦
                                        5,250.00</span></p>
                                <p class="bb-black">Adult Discount <span class="f-right price-tag text-underline">₦
                                        0.00</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="total-payment">
                                <h5>Payment <span class="f-right">₦ 5,250.00</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>