
.step-number{
    display: inline-block;
    border: 1px solid #f86331;
    padding: 20px;
    border-radius: 50%;
    background: #f86331;
    color: white;
    margin-top: -60px;
}
.step-wrapper{
    border: 1px solid orange;
    padding: 10px;
}
