@import '../../../assets/sass/now-ui-kit/variables';

@mixin small {
    @media screen and (max-width: 768px){
        @content;
    }
}

@mixin non-small {
    @media screen and (min-width: 768px){
        @content;
    }
}

.page-header{
    height: 75vh;
    @include small{
        height: 50vh;
    }
    .container{
        > .content-center{
            top: 37%;
        }
    }

    .category-absolute{
        position: absolute;
        top: 100vh;
        margin-top: -60px;
        padding: 0 15px;
        width: 100%;
        color: rgba(255,255,255,.5);
    }
}

.full-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.intro {
    text-align: center;
    p {
        font-size: 1.4em;
        color: rgba(0,0,0,.5);
    }
}

.step-number{
    display: inline-block;
    border: 1px solid $warning-color;
    padding: 20px;
    border-radius: 50%;
    background: $warning-color;
    color: white;
    margin-top: -60px;
}

.step-wrapper{
    border: 1px solid $warning-color;
    padding: 10px;
}

.dark-blue{
    .step-number{
        border-color: $primary-color;
        background: $primary-color;
    }
    .step-wrapper{
        border-color: $primary-color;
    }
}

.icon {
    font-size: 30px;
    line-height: 2.7;
    max-width: 80px;
    text-align: center;
    color: #888;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 9px 35px -6px rgba(0,0,0,.3);
    background-color: #fff;
    position: relative;
    // padding-top: 5px;
    cursor: pointer;
}

.icon-primary {
    box-shadow: 0 9px 30px -6px $primary-color;
    color: $primary-color;
}

.icon-warning {
    box-shadow: 0 9px 30px -6px $warning-color;
    color: $warning-color
}

.icon-success {
    box-shadow: 0 9px 30px -6px $success-color;
    color: $success-color;
}

.icon-info {
    box-shadow: 0 9px 30px -6px #2CA8FF;
    color: $info-color;
}

.info {
    .description {
        color: rgba(0,0,0,.8) !important;
    }
}