<nav class="navbar navbar-expand-lg bg-primary fixed-top" color-on-scroll="500">
    <div class="container">
        <!-- <div class="dropdown button-dropdown">
            <div ngbDropdown>
                <a class="dropdown-toggle" ngbDropdownToggle>
                    <span class="button-bar"></span>
                    <span class="button-bar"></span>
                    <span class="button-bar"></span>
                </a>
                <div ngbDropdownMenu>
                    <a class="dropdown-header">Dropdown header</a>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">One more separated link</a>
                </div>
            </div>
        </div> -->
        <div class="navbar-translate">
            <a class="navbar-brand fs-18rem" [routerLink]="['/']">
                <img src="assets/img/logo.png" width="30">PEACE MASS TRANSIT
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/">
                        <i class="fa fa-home"></i>
                        <p>Home</p>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/about-us">
                        <i class="fa fa-question-circle"></i>
                        <p>About</p>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/verify-booking">
                        <i class="fa fa-ticket"></i>
                        <p>Verify Booking</p>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/terminals">
                        <i class="fa fa-bus"></i>
                        <p>Terminals</p>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/contact-us">
                        <i class="fa fa-send"></i>
                        <p>Contact Us</p>
                    </a>
                </li>
                <!-- <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/gallery">
                        <i class="now-ui-icons files_paper"></i>
                        <p>Gallery</p>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/testimonials">
                        <i class="now-ui-icons files_paper"></i>
                        <p>Testimonials</p>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/map">
                        <i class="now-ui-icons files_paper"></i>
                        <p>Map</p>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>