<div class="wrapper mt-50px">
    <div class="bg-light">
        <div class="container">
            <div class="row pt-30px">
                <div class="col-md-8">
                    <p class="display-4">About PMT</p>
                    <p class="text-justify fs-18px">PMT is A Trusted Name in Transportation for 20 Years. PMT provides
                        transportation services for inter city/states
                        travelers in Nigeria. PMT customers can enjoy: air conditioned vehicles and light
                        entertainment. Peace Mass Transit Ltd
                        offers you the unique service to hire a bus to take anywhere in Nigeria following you desired
                        journey plan, schedule
                        and duration at a very affordable cost. PMT also provides haulage services for businesses and
                        individual looking to
                        transport large goods and services or materials within and around Nigerian cities.</p>
                    <p class="text-justify fs-18px">Our mission is to provide an affordable and reliable transport
                        system for
                        our people, and our vision is to use all
                        available resources to become the largest and most efficient road transport corporation world
                        over. Our source of
                        strength and strategy is founded on the guidance of the Holy Spirit, so for all our past, our
                        present and our future
                        achievements we say TO GOD BE THE GLORY.</p>
                    <p class="text-justify fs-18px">Hence our belief that our growth from two buses to two thousand
                        buses in
                        fourteen years without any outside help is
                        made possible by God who for His own reasons chose to use us for this miracle. We are the David
                        of our time. Peace
                        Group has combined staff strength of 2,750. Our presence is in about 19 states thus: Our
                        ebullient and astute Chairman,
                        Chief Samuel Maduka Onyishi, was recently decorated with the award of Member of Order of the
                        Niger (MON) by the
                        President and CIC of the Federal Republic of Nigeria which in our opinion, is in recognition of
                        the positive impact of
                        our company in the economic growth of our country.</p>
                    <p class="text-justify fs-18px">
                        To God be the Glory<br>
                        Peace Group Nigeria started from a humble beginning back in 1994 with two Hiace buses.
                        Commenced business as a
                        Transport company, Peace Mass Transit Company which has now transformed to be one of Nigeria´s
                        leading mini bus
                        Services Company, moving about 30,000 passengers daily.
                    </p>
                </div>
                <div class="col-md-4">
                    <app-notice-card *ngFor="let sidebarContent of sidebarContents" [header]="sidebarContent.header"
                        [content]="sidebarContent.content" [defaultBorderTop]="sidebarContent.defaultBorderTop"></app-notice-card>
                </div>
            </div>
        </div>
    </div>
</div>