<div class="wrapper mt-50px">
    <div class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="text-center">We are always happy to help our customers</h4>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 col-sm-12">
                    <div class="passager-detail">
                        <div class="row">
                            <div class="col">
                                <h4 class="marginless text-center pt-10px">SEND US YOUR ENQUIRY</h4>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col plr-30px">
                                <div class="form-group">
                                    <label for="">Fullname</label>
                                    <input type="text" class="form-control" placeholder="Fullname">
                                </div>
                            </div>
                            <div class="col plr-30px">
                                <div class="form-group">
                                    <label for="">Email</label>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col plr-30px">
                                <div class="form-group">
                                    <label for="">Message</label>
                                    <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button class="btn btn-primary">SUBMIT</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col plr-30px">
                                <p class="text-center">For more complaints Please call: 0700PEACEMASS or 07007322362,
                                    Email: contact@peacegroup.ng, SMS: 07034157751</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>