.passager-detail{
    background: white;
    border-top: 1px solid #e14213;
    border-bottom: 1px solid #050861;
    border-radius: 5px;
    margin-bottom:20px;
    padding-top: 30px;
    padding-bottom: 30px;
}