/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@mixin bp($point) {
    @if $point == small {
        @media (min-width: 481px) and (max-width: 768px){
            @content;
        }
    }
    @else if $point == xsmall {
        @media (max-width: 480px){
            @content;
        }
    }
}

.is-paddingless{
    padding: 0 !important;
}

.is-marginless{
    margin: 0 !important;
}

.pmt-display-1{
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.3;
}
.pmt-display-2{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.1;
}
.p-20px{
    padding: 20px;
}

.bg-white{
    background: #ffffff;
}

.ptb-50px{
    padding: 50px 0px;
}

.pt-70px{
    padding: 70px;
}
.fs-18rem{
    font-size: 1.8rem !important;
}

.of-hidden{
    overflow: hidden;
}

.mt-50px{
    margin-top: 50px;
}

.pt-20px{
    padding-top:20px
}

.pt-30px{
    padding-top:30px
}

.fs-18px{
    font-size: 18px;
}

.plr-30px{
    padding-left: 30px;
    padding-right: 30px;
}

.marginless{
    margin: 0px !important;
}



@media (max-width: 768px){
    .mt-md-60px{
        margin-top: 60px;
    }

    .mt-md-25px{
        margin-top: 25px;
    }

    .fd-column-reverse{
        flex-direction: column-reverse;
    }
}

// Custom Modal
.hidden{
    opacity: 0;
    transition: all 1s;
}
.show{
    opacity:  1;
    transition: all 1s;
}

#modal-container {
    position:  fixed;
    top: 75px;
    left: 50%;
    max-width: 600px;
    width: 100%;
    background: white;
    margin-left: -300px;
    text-align: center;
    box-shadow: 0px 0px 2px 1px black;
    z-index: 100;
    max-height: 65vh;
    border-bottom: 1px solid #fe7200;
    @include bp(small){
        max-width: 400px;
        margin-left: -200px;
    }

    @include bp(xsmall){
        max-width: 325px;
        margin-left: -162.5px;
    }
}

#overlay {
    position: fixed;
    top: 0px;
    left:  0px;
    right: 0px;
    bottom: 0px;
    z-index:  99;
    background:  rgba(0,0,0,0.8);
    width:  100%;
    height: 100%;
}
 
@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
}
