<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange" [ngStyle]="{height: '100px', backgroundColor: primaryColor}">
    </div>
    <div class="bg-light">
        <div class="container pt-60px pb-60px">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <p class="fs-25rem fw-200">Dear Ifeoluwa Odewale, your payment was successful</p>
                            <p>Booking details has been sent to youy email</p>
                            <p>Reference Number: <span class="fw-bold">PT-E7D422</span></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-8">
                            <p class="fs-125rem fw-400 marginless"><span class="fw-bold">Trip details:</span> Imo
                                (Owerri) =>
                                Lagos (Jibowu)</p>
                            <p>Wednesday, December 3, 2018 6:15 AM</p>
                        </div>
                        <div class="col-sm-4 text-right">
                            <p class="fs-125rem">₦ 5,250.00</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="fs-125rem fw-200 marginless"><span class="fw-bold">Bus Type:</span> BENZ</p>
                        </div>
                        <div class="col-sm-5">
                            <p class="fs-125rem fw-200 marginless"><span class="fw-bold">Phone No: </span>
                                +2349099999999</p>
                        </div>
                        <div class="col-sm-3 text-right">
                            <p class="fs-125rem fw-200 marginless"><span class="fw-bold">Seat No: </span> 13</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>