<div class="wrapper bg-dark">
    <div class="container padding-vertical">
        <div class="row">
            <div class="col-md-3">
                <h3 class="text-uppercase text-white font-size-rem-13">
                    SUBSIDIARIES
                </h3>
                <ul class="list-group list-group-flush top-foot">
                    <li class="list-group-item">
                        <a href="#">Peace Mass Transit Ltd</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">Peace Petroleum Nig Ltd</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">Peace Express Services Ltd</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">Peace Micro Finance Bank Ltd</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="text-uppercase text-white font-size-rem-13">
                    SUBSIDIARIES
                </h3>
                <ul class="list-group list-group-flush top-foot">
                    <li class="list-group-item">
                        <a href="#">Peace Capital Market Ltd</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">Peace Bureau De Change</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">PMT Beijing Trade Co. China Ltd</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="text-uppercase text-white font-size-rem-13">
                    RESOURCES
                </h3>
                <ul class="list-group list-group-flush top-foot">
                    <li class="list-group-item">
                        <a href="#">Terms and Conditions</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">FAQ</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="text-uppercase text-white font-size-rem-13">
                    Connect with Us
                </h3>
                <ul class="navbar-nav ml-auto flex-direction-row">
                    <li class="nav-item">
                        <a class="nav-link font-size-rem-13 btn bg-white text-primary foot-social fab-btn" rel="tooltip" title=""
                            data-placement="bottom" href="https://twitter.com/pmtnigeria" target="_blank"
                            data-original-title="Follow us on Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-size-rem-13 btn bg-white text-primary foot-social fab-btn" rel="tooltip" title=""
                            data-placement="bottom" href="https://www.facebook.com/peacemasstransit/?ref=bookmarks"
                            target="_blank" data-original-title="Like us on Facebook">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-size-rem-13 btn bg-white text-primary foot-social fab-btn" rel="tooltip" title=""
                            data-placement="bottom" href="https://www.instagram.com/pmtnigeria/" target="_blank"
                            data-original-title="Follow us on Instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <br/>
        <hr class="footer-divider" />
    </div>
    <div class="footer footer-default bg-dark">
        <div class="container">
            <div class="text-white">
                <p class="text-center">
                    &copy;
                    {{data | date: 'yyyy'}}, No. 2 Destiny Layout Emene, Enugu,
                </p>
                <p class="text-center">
                    Powered By <a href="#" target="_blank">MEANEST Team</a>.
                </p>
            </div>
        </div>
    </div>
</div>