@import '../../../assets/sass/now-ui-kit/variables';

.padding-vertical {
    padding-top: 50px;
}

.top-foot li {
    background-color: #343a40;
    color: rgba(211, 211, 211, 0.8);
    border: 0px;
    padding-left: 0px;
    padding-top: 0px;
}

.top-foot li a {
    color: rgba(211, 211, 211, 0.8);
    text-decoration: none;
    transition: color 0.3s;
}

.top-foot li a:hover {
    color: $warning-color;
    text-decoration: none;
}

.footer-divider {
    border-color: rgba(255,255,255,0.2);
}

.foot-social {
    padding: 10px 15px;
    font-size: 20px;
    transition: all 0.3s;
}

.foot-social:hover {
    padding: 4px 11px;
    font-size: 30px;
}

.social-twitter {
    color: $social-twitter;
}

.social-facebook {
    color: $social-facebook;
}

.social-instagram {
    color: $social-linkedin;
}

a {
    color: $warning-color;
    text-decoration: none;
}