<div class="wrapper bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h6 class="text-uppercase text-orange font-size-rem-13">
                            SUBSIDIARIES
                        </h6>
                    </li>
                    <li class="list-group-item">Peace Mass Transit Ltd</li>
                    <li class="list-group-item">Peace Petroleum Nig Ltd</li>
                    <li class="list-group-item">Peace Express Services Ltd (Courier Services)</li>
                    <li class="list-group-item">Peace Micro Finance Bank Ltd</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-sm-none d-md-block">
                        <h6 class="text-uppercase text-orange font-size-rem-13">
                            &nbsp;
                        </h6>
                    </li>
                    <li class="list-group-item">Peace Capital Market Ltd</li>
                    <li class="list-group-item">Peace Bureau De Change</li>
                    <li class="list-group-item">PMT Beijing Trade Co. China Ltd</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h6 class="text-uppercase text-orange font-size-rem-13">
                            RESOURCES
                        </h6>
                    </li>
                    <li class="list-group-item">Terms and Conditions</li>
                    <li class="list-group-item">FAQ</li>
                    <li class="list-group-item">Privacy Policy</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="text-orange margin-top-15 margin-bottom-10">
                    Connect with Us
                </h3>
                <ul class="navbar-nav ml-auto flex-direction-row">
                    <li class="nav-item">
                        <a class="nav-link font-size-rem-20 btn btn-primary fab-btn padding-10-15" rel="tooltip" title=""
                            data-placement="bottom" href="https://twitter.com/pmtnigeria" target="_blank"
                            data-original-title="Follow us on Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-size-rem-20 btn btn-primary fab-btn padding-10-15" rel="tooltip" title=""
                            data-placement="bottom" href="https://www.facebook.com/peacemasstransit/?ref=bookmarks"
                            target="_blank" data-original-title="Like us on Facebook">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-size-rem-20 btn btn-primary fab-btn padding-10-15" rel="tooltip" title=""
                            data-placement="bottom" href="https://www.instagram.com/pmtnigeria/" target="_blank"
                            data-original-title="Follow us on Instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer footer-default">
        <div class="container">
            <div class="">
                <p class="text-center">
                    &copy;
                    {{data | date: 'yyyy'}}, No. 2 Destiny Layout Emene, Enugu,
                </p>
                <p class="text-center">
                    Powered By <a href="#" target="_blank">MEANEST Team</a>.
                </p>
            </div>
        </div>
    </div>
</div>