<div class="wrapper bg-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h6 class="text-uppercase text-orange font-size-rem-13">
                            First Item
                        </h6>
                    </li>
                    <li class="list-group-item">Second item</li>
                    <li class="list-group-item">Third item</li>
                    <li class="list-group-item">Fourth item</li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h6 class="text-uppercase text-orange font-size-rem-13">
                            First Item
                        </h6>
                    </li>
                    <li class="list-group-item">Second item</li>
                    <li class="list-group-item">Third item</li>
                    <li class="list-group-item">Fourth item</li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h6 class="text-uppercase text-orange font-size-rem-13">
                            First Item
                        </h6>
                    </li>
                    <li class="list-group-item">Second item</li>
                    <li class="list-group-item">Third item</li>
                    <li class="list-group-item">Fourth item</li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h6 class="text-uppercase text-orange font-size-rem-13">
                            First Item
                        </h6>
                    </li>
                    <li class="list-group-item">Second item</li>
                    <li class="list-group-item">Third item</li>
                    <li class="list-group-item">Fourth item</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3 class="text-orange margin-top-15 margin-bottom-10">
                    Connect with Us
                </h3>
                <ul class="navbar-nav ml-auto flex-direction-row">
                    <li class="nav-item">
                        <a class="nav-link font-size-rem-20 btn btn-primary fab-btn padding-10-15" rel="tooltip" title=""
                            data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank"
                            data-original-title="Follow us on Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-size-rem-20 btn btn-primary fab-btn padding-10-15" rel="tooltip" title=""
                            data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank"
                            data-original-title="Like us on Facebook">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-size-rem-20 btn btn-primary fab-btn padding-10-15" rel="tooltip" title=""
                            data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank"
                            data-original-title="Follow us on Instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer footer-default">
        <div class="container">
            <div class="">
                <p class="text-center">
                    &copy;
                    {{data | date: 'yyyy'}}
                    <a href="#" target="_blank">Peace Transport</a>. Coded by
                    <a href="#" target="_blank">MEANEST Team</a>.
                </p>
            </div>
        </div>
    </div>
</div>