<div class="full-section parallax parallax-filter" style="background-image: url('assets/img/header-banner.jpg')">
  <div class="row">
      <div class="col-sm-12 intro text-white">
          <h2>Our Coporate Partners @ PMT</h2>
      </div>
  </div>
  <div class="container full-section">
      <div class="row">
          <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
              <div class="card card-profile">
                  <div class="row">
                      <div class="col-md-5">
                          <div class="card-image">
                              <img class="img" src="assets/img/Peace-Masst-Transit-PMT-my7.jpg">
                          </div>
                      </div>
                      <div class="col-md-7">
                          <div class="card-body">
                              <h6 class="card-title">PEACE GROUP NIG</h6>
                              <p class="card-description">
                                  Peace Group Nigeria is the mother company of Peace Mass Transit limited,
                                  Peace Express Service limited, Peace Petroleum, Ugama Press, and Ugama Motors.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
              <div class="card card-profile">
                  <div class="row">
                      <div class="col-md-5">
                          <div class="card-image">
                              <img class="img" src="assets/img/Peace-Masst-Transit-PMT-my4.jpg">
                          </div>
                      </div>
                      <div class="col-md-7">
                          <div class="card-body">
                              <h6 class="card-title">PEACE EXPRESS SERVICE LTD</h6>
                              <p class="card-description">
                                  We provide Courier Services for businesses and individual looking to transport
                                  items of various shapes and sizes be moved and delivered across Nigeria.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
              <div class="card card-profile">
                  <div class="row">
                      <div class="col-md-5">
                          <div class="card-image">
                              <img class="img" src="assets/img/peace-mass-pet.jpg">
                          </div>
                      </div>
                      <div class="col-md-7">
                          <div class="card-body">
                              <h6 class="card-title">PEACE PETROLEUM - PET</h6>
                              <p class="card-description">
                                  This subsidiary of PEACE GROUP is the manufacturer of Peace Lubricant 
                                  - a high quality oil approved by SON for your vehicles and machines.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
              <div class="card card-profile">
                  <div class="row">
                      <div class="col-md-5">
                          <div class="card-image ml-auto mr-auto">
                              <img class="img" src="assets/img/Peace-Masst-Transit-PMT-my6.jpg">
                          </div>
                      </div>
                      <div class="col-md-7">
                          <div class="card-body">
                              <h6 class="card-title">UGAMA MOTORS</h6>
                              <p class="card-description">
                                  This ia another subsidiary of PEACE GROUP. Ugama Motos is the second
                                  indigenous vehicle assemblying plant owned and operated in Nigeria by Nigerians.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
